# Telegram Bot
BOT_TOKEN="8891233106:AAFpBIUtJnosv3ACH5cFHkuGGjd1i3Pvb8w"

# PostgreSQL (Neon)
DATABASE_URL=postgresql+asyncpg://username:password@host/database

# Admin Telegram IDs
ADMINS=6310532367

# Logging
LOG_LEVEL=INFO

# Bot
BOT_NAME=SaraMatchBot
BOT_USERNAME=SaraMachtBot
