aiogram==3.22.0
python-dotenv==1.1.1
SQLAlchemy==2.0.43
asyncpg==0.30.0
alembic==1.16.5
greenlet==3.2.4
pydantic==2.11.7
pydantic-settings==2.10.1
aiofiles==24.1.0
redis==6.4.0
uvloop==0.21.0; platform_system != "Windows"
