aiogram==3.22.0

SQLAlchemy==2.0.41
asyncpg==0.30.0
alembic==1.16.4

pydantic==2.11.7
pydantic-settings==2.10.1

python-dotenv==1.1.1

redis==6.2.0

aiofiles==24.1.0

python-multipart==0.0.20

orjson==3.11.1

uvloop==0.21.0; platform_system != "Windows"

loguru==0.7.3

greenlet==3.2.3
